.container {display: flex; justify-content: flex-start; align-items: flex-start; }
.left {display: flex; flex-direction: column; }
.right {position: relative; box-sizing: border-box; border: 1px solid black;}
input {width: 3em; }
.line {
    box-sizing: border-box;
    border-top: solid 1px black;
    position: absolute;
    height: 0px;
}
.dot {
    box-sizing: border-box;
    border: solid 1px black;
    position: absolute;
    border-radius: 50%;
}
